*, *:before, *:after {
    box-sizing: border-box;
  }
  html {
    font-size: 10px;
    background: #ffc600;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: 'Amatc SC', cursive;
  }
  h1 {
    text-align: center;
    font-size: 10rem;
    line-height: 1;
    margin-bottom: 0;
  }
  .score {
    background: rgba(255, 255, 255, .2);
    padding: 0 3rem;
    line-height: 1;
    border-radius: 1rem;
  }
  .start {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background: green;
    color: white;
    font-size: 20px;
    border: none;
  }
  .game {
    width: 600px;
    height: 400px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .hole {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
  }
  .hole:after {
    content: "";
    display: block;
    width: 100%;
    height: 70px;
    background: url(./dirt.svg) bottom center no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 2;
    bottom: -30px;
  }
  .mole {
    background: url(./mole.svg) bottom center no-repeat;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: top .4s;
    /* z-index:3; */
    background-size: 60%;
  }
  