* {
    margin: 0;
    padding: 0;
  }
  html, body {
    height: 100vh;
    /* font-size: 10vw; */
    min-width: 10rem;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
  }
  
  .box {
    width: 1rem;
    height: 1rem;
  }
  
  /* 栅格系统 */
  .row {
    width: 100%;
    height: 100vh;
    font-size: 0;
  }
  .col-1 {
    width: 1rem;
  }
  .col-1, .col-2, .col-8, .col-5 {
    height: 100%;
    display: inline-block;
    background-color: green;
  }
  .col-5 {
    width: 5rem;
  }
  .col-2 {
    width: 2rem;
  }
  .col-8 {
    width: 8rem;
  }
  .row > div:nth-child(odd) {
    background-color: yellow;
  } 
  