
:local(.header){
    max-height:.26rem;
    box-sizing:border-box;
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top:.01rem solid #F2F2F2;
    border-bottom:.01rem solid #F2F2F2;
    box-sizing:border-box;

.nav-left{
    padding-left: 1.43rem;
    display: flex;
    align-items: center;
    font-size: .1rem;
    line-height: .26rem;
    .nav-link{
        color: #717171;
        text-decoration:none;
        margin-right: .06rem;
    }
    a:hover{
        color: #ffc300;
    }
    .navBar{
        display: flex;
        align-items: center;
       img{
            margin-right: .04rem;
        }
    }
    .nav-hint{
        color: #aaaaaa;
        margin-right: .06rem; 
        margin-left: .06rem;
    }
    

}
.nav-right{
    // border-bottom:.01rem solid white;
}
.qrcode{
    width: .6rem;
    height: .6rem;
}
.nav-right{
    @extend .nav-left; 
    }
    .menu-a{
        font-size: .1rem;
        // padd
      }
      .menu-a:hover{
        color: red;
    }

}
