.modal {
    position: fixed;
    width: 300px;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    z-index: 9999;
    box-shadow: inset 0 0 1px 0 #000;
  }
  
  .modal-title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
  }
  .modal-content {
    width: 100%;
    height: 100px;
    padding: 0 10px;
  }
  .modal-operator {
    width: 100%;
    height: 50px;
  }
  .modal-operator-close, .modal-operator-confirm {
    width: 50%;
    border: none;
    outline: none;
    height: 50px;
    line-height: 50px;
    opacity: 1;
    color: #ffffff;
    background: rgb(247, 32, 32);
    cursor: pointer;
  }
  .modal-operator-close:active, .modal-operator-confirm:active {
    opacity: .6;
    transition: opacity .3s;
  }
  
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    opacity: .6;
    z-index: 9998;
  }
  