* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
  }
  html {
    -webkit-text-size-adjust: 100%;
  }
  body, html {
    height: 100%;
  }
  body {
    font-family: -apple-system-font, Helvetica Neue, Arial, Helvetica, sans-serif;
    line-height: 1.6;
  }
  a {
    text-decoration: none;
  }
  a:link { color: #1aad19; }
  ul, li {list-style: none;}
  .page, .body {
    background-color: #f8f8f8;
  }
  .container, .page {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* background:rgba(0,0,0,.2); */
  }
  .container {
    overflow: hidden;
  }
  .page {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
  }
  .page__hd {
    padding: 40px;
  }
  .page__title {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
  }
  .page__desc {
    margin-top: 5px;
    font-size: 14px;
    color: #888888;
    text-align: left;
  }
  a.link {
    color: #1aad19;
  }
  .weui-cells {
    margin-top: 1.17647059em;
    background: #ffffff;
    line-height: 1.47058824;
    font-size: 17px;
    overflow: hidden;
    position: relative;
  }
  .weui-cells:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
  }
  .weui-cells:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
  }
  .weui-cell{
      padding: 10px 15px;
      position: relative
      ;
  }
  .weui-uploader__hd{
      display: flex;
      align-items: center;
      padding-bottom: 10px;


  }
  .weui-uploader__title{
      flex: 1px;
      /* background: red; */
  }
  .weui-uploader__info{

/* 全打包 */
color: #b2b2b2;
  }
  .weui-uploader__bd{
      margin-bottom: -4px;
      overflow: hidden;


  }
  .weui-uploader__files{
      list-style: none;


  }
  .weui-uploader__file{
      
  }


  