body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.notes {
  margin-top: 32px;
}

.notes .ui textarea {
  border: none;
  font-size: 16px;
  padding: 0;
  margin: 32px 0;
}

.ui.items > .item > .content > .header {
  display: block;
  cursor: pointer;
}

.ui.items > .item > .meta {
  width: 88px;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 0;
  margin-bottom: 16px;
}

.trash.icon {
  cursor: pointer;
}
