@import "fn"
//引入文件



html
    -ms-text-size-adjust: 100%;//在pc端的时候,禁止文字缩进
    -webkit-text-size-adjust: 100%;

body
    line-height 1.6

*
    margin 0
    padding 0
    
a img 
    border 0

a
    text-decoration none
    setTapColor()