@keyframes rotate
{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rotated
{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-180deg);
    }
  }
.nav-right_item{
    float: left;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding:.01rem .06rem;
    .nav-item{
      padding:0 .16rem;
        display: flex;
        align-items: center;
        
    }
    .nav-item-bgc{
      border-top:.01rem solid #F2F2F2;
        background-color:white;
    }
    .icon-rotate-animation{
      padding:0 .06rem;
        animation:rotate .5s;
        animation-delay:.15;
        animation-iteration-count:1;
        animation-fill-mode: forwards;
    }
    .icon-rotate-animationed{
      padding:0 .06rem;
        animation:rotated .5s;
        animation-delay:.15;
        animation-iteration-count:1;
        animation-fill-mode: forwards;
    }
    .ant-dropdown{
      padding: 0;
      margin: 0;
      border: none;
      box-sizing:border-box;
      transform:translateY(-5px);
    }
    .ant-dropdown-placement-bottomLeft::before{
      padding: 0;
      display: none;
      box-shadow: none !important;

    }
  
  
    .ant-dropdown-menu-root, .ant-dropdown-menu,.ant-dropdown-menu-vertical{
      padding: 0 !important;
      border-radius:none !important;
      border: none;
      box-shadow: none !important;
      border: 1px solid #F2F2F2;
      
    }
    .ant-dropdown-menu-item>a{
      padding: 0;
      font-size: .12rem !important;
     
  }
   
   
}