weuiBtnHeight =46px
weuiBtnFontSize =18px
weuiBtnFontColor=#ffffff
weuiBtnActiveFontColor=rgba(255,255,255,.6)
weuiBtnDisableFontColor=rgba(255,255,255,.6)
weuiBtnBorderRadius=5px

weuiBtnMinFontSize=13px
weuiBtnMinHeight=2.3

weuiBtnPrimaryBg=#1aad19
weuiBtnPrimaryActiveBg=#179b16
weuiBtnPrimaryDisableBg=#9ed99d





