border-radius(n)
    -webkit-border-radius n
    -moz-border-radius n
    border-radius n 

.box
    border-radius 5px

.log_btn
    width 120px
    height 50px
    
    border-radius 5px
